.article-container {
  max-width: 100px;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
  font-size: 20px;
}
.body {
  .lang-en {
    font-family:Verdana;
    font-size:10px;
  }
  .lang-kr {
    font-family:NanumGothicLight;
    font-size:10px;
  }
}
.code {
  font-family:NanumGothicCoding;
  
  h1,h2,h3,h4,h5,h6{
     font-size: 24pt;
  }
}
.pre {
  .lang-en {
    font-family:Verdana;
    font-size:10px;
  }

  .lang-kr {
    font-family:NanumGothicLight;
    font-size:10px;
  }
}
