body {
  .lang-en {
    font-family:Verdana;
    font-size:14px;
  }

  .lang-kr {
    font-family:NanumGothicLight;
    font-size:14px;
  }
}
code {
  font-family:NanumGothicCoding;

  h1,h2,h3,h4,h5,h6{
     font-size: 24pt;
  }
}
pre {
  .lang-en {
    font-family:Verdana;
    font-size:14px;
  }

  .lang-kr {
    font-family:NanumGothicLight;
    font-size:14px;
  }
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 14px;
    border-left: 5px solid #eee;
}

